---
import Layout from '../layouts/Layout.astro';
import FuelApp from '../components/FuelApp';
---

<Layout title="Fuel Watch - Compara precios de gasolina">
	<main>
		<FuelApp client:load />
	</main>
</Layout>